/* Here is your custom css styles. */
/* �޸���ҳ�ֲ��ı����С */ @media only screen and (max-width: 601px) {
    .bg-cover .title {
        font-size: 2.5rem;
    }
}
/* �޸Ĳ��ͱ���������С */

@media only screen and (max-width: 601px) {
    header .brand-logo .logo-span {
        font-size: 2rem;
    }
}

body {
    /*ȫ������*/
    font-family: 'myFont';
    /*ȫ�ֹ��*/
    cursor: url("/medias/mouse/kex/normal.ani"),auto;
}

/* ��ͣ�������ı�ʱ�����ָ�� */
h1, h2, h3, h4, h5, h6, #subtitle, .content, .line, .post-content, .post-content li {
    cursor: url('/medias/mouse/blue/text.cur'), auto;
}

/* ��ͣͼƬʱ�����ָ�� */
img {
    cursor: url('/medias/mouse/blue/move.cur'), auto;
}
/* ѡ�����ӱ�ǩʱ�����ָ�� */
a:hover, #site-name:hover {
    cursor: url('/medias/mouse/blue/link.cur'), auto;
}